[submodule "bundle/YouCompleteMe"]
        path = bundle/YouCompleteMe
        url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/delimitMate"]
        path = bundle/delimitMate
        url = https://github.com/Raimondi/delimitMate.git 
[submodule "bundle/emmet-vim"]
        path = bundle/emmet-vim
        url = https://github.com/mattn/emmet-vim.git
