[submodule "bundle/YouCompleteMe"]
        path = bundle/YouCompleteMe
        url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/delimitMate"]
        path = bundle/delimitMate
        url = https://github.com/Raimondi/delimitMate.git 
[submodule "bundle/emmet-vim"]
        path = bundle/emmet-vim
        url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/gundo.vim"]
        path = bundle/gundo.vim
        url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdtree"]
        path = bundle/nerdtree
        url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
        path = bundle/syntastic
        url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tabular"]
        path = bundle/tabular
        url = https://github.com/godlygeek/tabular.git
[submodule "bundle/tagbar"]
        path = bundle/tagbar
        url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/ultisnips"]
        path = bundle/ultisnips
        url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-airline"]
        path = bundle/vim-airline
        url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-better-whitespace"]
        path = bundle/vim-better-whitespace
        url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/vim-fugitive"]
        path = bundle/vim-fugitive
        url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-go"]
        path = bundle/vim-go
        url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-instant-markdown"]
        path = bundle/vim-instant-markdown
        url = https://github.com/suan/vim-instant-markdown.git
[submodule "bundle/vim-maximizer"]
        path = bundle/vim-maximizer
        url = https://github.com/szw/vim-maximizer.git
[submodule "bundle/vim-nerdtree-tabs"]
        path = bundle/vim-nerdtree-tabs
        url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vundle"]
        path = bundle/vundle
        url = https://github.com/gmarik/Vundle.vim.git


